/*____________________ INTRO AND ASIDE ____________________*/

.introAndAside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 8vh 14vw 3vw 10vw;
}

.introBlog {
    padding: 3vw;
}

.introText {
    margin-bottom: 7vh;
    color: #dab0a0;
}

.toArticles {
    background-color: #d47898;
    color: #000000;
    border: 2px solid #F2B8A2;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    display: block;
    margin: auto;
    width: 33%;
    min-width: 33%;
    text-align: center;
    transition: color 0.8s ease;
}

.toArticles:hover {
    background-color: #3a0f0f;
    color: #F2B8A2;
}

.h3Index {
    color: #d47898;
    font-size: 25px;
}

.cvImg {
    width: 32vw;
    height: auto;
    opacity: 90%;
}

/*____________________ ARTICLES ____________________*/

.lastArticlesSection {
    text-align: center;
    margin: 5vw 0;
}


.fourLastArticles {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 3vw 8vw;
}

.fourLastArticles a {
    background-color: #d6bbb0;
    border: 1px solid #d47898;
    border-radius: 10px;
    padding: 1.2vw;
    flex: 1;
    max-width: 15vw;
    transition: transform 0.2s;
    text-decoration: none;
}

.fourLastArticles a:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.articleImg {
    width: 100%;
    height: 200px;
    background-color: #613443;
    border-radius: 5px;
    object-fit: cover;
}

.fourLastArticles article h3 {
    margin-top: 3vh;
    margin-bottom: 1vh;
}