/*

Dark Red (bg body) : #240707
Dark Purple (bg header footer) : #3a0f0f
Pink : #d47898
Coral : #F2B8A2
Light coral (text) : #dab0a0

*/

/*____________________ GENERAL ____________________*/
html {
    height: 100%;
}

body {
    background-color: #240707;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    color: #c28197;
}

h2 {
    color: #c28197;
    font-size: 33px;
}

h3 {
    color: #3a0f0f;
}

main {
    flex: 1;
}

main p {
    font-size: 20px;
    line-height: 1.6;
}

/*____________________ HEADER ____________________*/

header {
    background-color: #3a0f0f;
    padding: 1.6vw 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #d47898;
}

.logoHeader {
    text-decoration: none;
    color: #d47898;
    font-size: 25px;
    font-weight: bold;
}

.linksHeader {
    min-width: 22vw;
    list-style: none;
    margin-right: 3vw;
    display: flex;
    justify-content: space-between;
}

.linksHeader li a {
    background-color: #d47898;
    color: #000000;
    border: 2px solid #F2B8A2;
    text-decoration: none;
    padding: 7px 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 13px;
    transition: color 0.8s ease;
}

.linksHeader li a:hover {
    background-color: #4b1b1b;
    color: #F2B8A2;
}

/*____________________ FOOTER ____________________*/

footer {
    background-color: #3a0f0f;
    padding: 2vw;
    text-align: center;
    border-top: 1px solid #d47898;
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
}

.socialIcons a {
    transition: color 0.3s ease;
    color: #F2B8A2;
}

.linksFooter {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #F2B8A2;
    margin-top: 1.5%;
    display: inline-block;
}

.linksFooter:hover {
    color: #d47898;
}