<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article 1 - Blog Portfolio FCR</title>
    <link rel="stylesheet" href="../Assets/Style/main.css">
    <link rel="stylesheet" href="../Assets/Style/individualArticles.css">
</head>

<body>
    <header>
        <h1><a class="logoHeader" href="./index.html">Portfolio Fanny Costes-Rossignol</a></h1>
        <nav>
            <ul class="linksHeader">
                <li><a href="./index.html">Accueil</a></li>
                <li><a href="./articles.html">Articles</a></li>
                <li><a href="./about.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article class="singleArticle">
            <h2>Article 1</h2>
            <img class="articleImg" src="../Assets/Imgs/bongoTest1.jpg" alt="Image de l'article numéro un">
            <p class="articleDesc">Lick human with sandpaper tongue purr. Eats owners hair then claws head burrow under covers chase after silly colored fish toys around the house.</p>
            <section class="articleContent">
                <p>Meow meow pee in shoe knock over christmas tree pushed the mug off the table. Chase red laser dot. Under the bed carefully drink from water glass and then spill it everywhere.</p>
                <p>Proceed to lick the puddle but intently sniff hand, but spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce. Hide from vacuum cleaner, or flee in terror at cucumber discovered on floor.</p>
                <p>Find something else more interesting, and wack the mini furry mouse. Sniff catnip and act crazy for really likes hummus so behind the couch, or warm up laptop with butt lick butt fart rainbows until owner yells pee in litter box hiss at cats.</p>
            </section>
        </article>
    </main>

    <footer>
        <div class="socialIcons">
            <a href="mailto:fannycr1708@gmail.com" aria-label="Email"><i class="fas fa-envelope"></i></a>
            <a href="https://github.com/Revoky" target="_blank" aria-label="GitHub"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/fanny-costes-rossignol-41302a205/" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
        </div>
        <a class="linksFooter" href="#">Mentions légales</a>
    </footer>
</body>
</html>
