<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Portfolio FCR</title>
    <link rel="stylesheet" href="../Assets/Style/main.css">
    <link rel="stylesheet" href="../Assets/Style/articles.css">
</head>

<body>
    <header>
        <h1><a class="logoHeader" href="./index.html">Portfolio Fanny Costes-Rossignol</a></h1>
        <nav>
            <ul class="linksHeader">
                <li><a href="./index.html">Accueil</a></li>
                <li><a href="./articles.html">Articles</a></li>
                <li><a href="./about.html">À propos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="articlesSection">
            <h2>Tous les articles</h2>
            <div class="articleList">
                <article class="article">
                    <img class="articleImg" src="../Assets/Imgs/bongoTest1.jpg" alt="Image article numéro un">
                    <h3>Article 1</h3>
                    <p class="articleDesc">Lick human with sandpaper tongue purr. Eats owners hair then claws head burrow under covers chase 
                        after silly colored fish toys around the house. Meow meow pee in shoe knock over christmas tree pushed the mug off the table.</p>
                </article>
                <article class="article">
                    <img class="articleImg" src="../Assets/Imgs/bongoTest2.jpg" alt="Image article numéro deux">
                    <h3>Article 2</h3>
                    <p class="articleDesc">Meow meow, i tell my human meow for see owner, run in terror, or prance along on top of the garden fence, 
                        annoy the neighbor's dog and make it bark. Sit in window and stare oooh, a bird, yum stares at human while pushing stuff off a 
                        table but lick butt and make a weird face lick butt knock dish off table head butt cant eat out of my own dish and meow meow pee in shoe.</p>
                </article>
                <article class="article">
                    <img class="articleImg" src="../Assets/Imgs/bongoTest3.jpg" alt="Image article numéro trois">
                    <h3>Article 3</h3>
                    <p class="articleDesc">Chase red laser dot. Under the bed carefully drink from water glass and then spill it everywhere and proceed 
                        to lick the puddle but intently sniff hand, but spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce. Hide from vacuum cleaner</p>
                </article>
                <article class="article">
                    <img class="articleImg" src="../Assets/Imgs/bongoTest4.jpg" alt="Image article numéro quatre">
                    <h3>Article 4</h3>
                    <p class="articleDesc">Flee in terror at cucumber discovered on floor find something else more interesting, and wack the mini 
                        furry mouse sniff catnip and act crazy for really likes hummus so behind the couch, or warm up laptop with butt lick butt fart rainbows 
                        until owner yells pee in litter box hiss at cats.</p>
                </article>
                <article class="article">
                    <img class="articleImg" src="../Assets/Imgs/bongoTest1.jpg" alt="Image article numéro cinq">
                    <h3>Article 5</h3>
                    <p class="articleDesc">Chase imaginary bugs flop over friends are not food for cats are a queer kind of folk but gimme attention gimme 
                        attention gimme attention gimme attention gimme attention gimme attention just kidding i don't want it anymore meow bye.</p>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <a href="#">Mentions légales</a>
    </footer>
</body>
</html>
