<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Portfolio FCR</title>
    <link rel="stylesheet" href="../Assets/Style/main.css">
    <link rel="stylesheet" href="../Assets/Style/articles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header>
        <h1><a class="logoHeader" href="./index.html">Portfolio Fanny Costes-Rossignol</a></h1>
        <nav>
            <ul class="linksHeader">
                <li><a href="./index.html">Accueil</a></li>
                <li><a href="./articles.html">Articles</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li><a href="./gallery.html">Galerie</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="articlesSection">
            <h2>Tous les articles</h2>
            <div class="articleList">
                <a href="./a6-bilan.html" class="article">
                    <img class="articleImg" src="../Assets/Imgs/logoIMM.png" alt="Image article numéro deux">
                    <h3>Mon stage chez IMM Informatique</h3>
                    <p class="articleDesc">Mon stage chez IMM Informatique a été une expérience formatrice et intéressante, me permettant de découvrir une nouvelle facette de 
                        l’informatique. De l'organisation des locaux aux diverses missions confiées, en passant par les compétences acquises, ce stage m'a offert une véritable 
                        immersion dans le quotidien d’un technicien.</p>
                </a>
                <a href="./a5-customerRelation.html" class="article">
                    <img class="articleImg" src="../Assets/Imgs/clientRelation.jpg" alt="Image article numéro deux">
                    <h3>Service et relation client</h3>
                    <p class="articleDesc">Dans le domaine de l’informatique, le savoir-faire technique est indéniablement essentiel. Cependant, un autre aspect tout aussi crucial 
                        est souvent sous-estimé : le service et la relation client. Mon stage en entreprise m’a permis de découvrir à quel point une bonne communication et une 
                        gestion attentive des attentes des clients peuvent faire toute la différence.</p>
                </a>
                <a href="./a4-Wordpress.html" class="article">
                    <img class="articleImg" src="../Assets/Imgs/logoWordpress.png" alt="Image article numéro trois">
                    <h3>Wordpress</h3>
                    <p class="articleDesc">Bien que l’entreprise IMM Informatique dans laquelle j’ai effectué mon stage se concentre sur la maintenance et la réparation de matériel 
                        informatique, j'ai eu l'opportunité d'utiliser WordPress, un outil essentiel pour le développement web, la communication et la gestion de la relation client.</p>
                </a>
                <a href="./a3-data.html" class="article">
                    <img class="articleImg" src="../Assets/Imgs/data.png" alt="Image article numéro quatre">
                    <h3>Gestion des données</h3>
                    <p class="articleDesc">La gestion des données est un aspect essentiel de l’entretien et de la réparation des ordinateurs, surtout pour les clients professionnels 
                        dont l’activité dépend de ces données. Au cours de mon stage chez IMM Informatique, j’ai appris à quel point il est crucial de bien comprendre les différents 
                        types de stockage, de savoir comment migrer les données de manière efficace, et d'être capable de récupérer des données en cas de problème.</p>
                </a>
                <a href="./a2-security.html" class="article">
                    <img class="articleImg" src="../Assets/Imgs/malware.jpg" alt="Image article numéro cinq">
                    <h3>Sécurité en ligne</h3>
                    <p class="articleDesc">Durant mon stage chez IMM Informatique, un grand nombre d’intervention concernait des clients ayant des virus sur leur machine, 
                        j'ai donc appris à identifier les menaces les plus courantes et à conseiller les clients sur les meilleures pratiques pour sécuriser leur matériel.</p>
                </a>
                <a href="./a1-diagnosisRepair.html" class="article">
                    <img class="articleImg" src="../Assets/Imgs/sickComputer.jpg" alt="Image article numéro un">
                    <h3>Diagnostic et réparation d’ordinateurs</h3>
                    <p class="articleDesc">Lors de mon stage chez IMM Informatique, j’ai eu l'opportunité de plonger au cœur du processus qui permet de redonner vie à des 
                        machines en panne.</p>
                </a>
            </div>
        </section>
    </main>

    <footer>
        <div class="socialIcons">
            <a href="mailto:fannycr1708@gmail.com" aria-label="Email"><i class="fas fa-envelope"></i></a>
            <a href="https://github.com/Revoky" target="_blank" aria-label="GitHub"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/fanny-costes-rossignol-41302a205/" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
        </div>
        <a class="linksFooter" href="#">Mentions légales</a>
    </footer>
</body>
</html>
