<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Portfolio FCR</title>
    <link rel="stylesheet" href="../Assets/Style/main.css">
    <link rel="stylesheet" href="../Assets/Style/index.css">
</head>

<body>
    <header>
        <h1><a class="logoHeader" href="./index.html">Portfolio Fanny Costes-Rossignol</a></h1>
        <nav>
            <ul class="linksHeader">
                <li><a href="./index.html">Accueil</a></li>
                <li><a href="./articles.html">Articles</a></li>
                <li><a href="./about.html">À propos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="introAndAside">
            <section class="introBlog">
                <h2>Bienvenue sur mon blog !</h2>
                <p class="introText">Etudiante en bachelor informatique à Toulouse Ynov Campus, découvrez mes expériences dans le domaine à travers les articles de ce blog.</p>
                <a class="toArticles" href="./articles.html">Parcourir les articles</a>
            </section>
    
            <aside>
                <img class="cvImg" src="../Assets/Imgs/CV.png" alt="CV de Fanny">
            </aside>
        </section>

        <section class="lastArticlesSection">
            <h2>Derniers articles</h2>

            <div class="fourLastArticles">
                <article>
                    <img class="articleImg" src="../Assets/Imgs/bongoTest1.jpg" alt="Image dernier article numéro un">
                    <h3>Article 1</h3>
                </article>
                <article>
                    <img class="articleImg" src="../Assets/Imgs/bongoTest2.jpg" alt="Image dernier article numéro deux">
                    <h3>Article 2</h3>
                </article>
                <article>
                    <img class="articleImg" src="../Assets/Imgs/bongoTest3.jpg" alt="Image dernier article numéro trois">
                    <h3>Article 3</h3>
                </article>
                <article>
                    <img class="articleImg" src="../Assets/Imgs/bongoTest4.jpg" alt="Image dernier article numéro quatre">
                    <h3>Article 4</h3>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <a href="#">Mentions légales</a>
    </footer>
</body>
</html>
